@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo:ital@1&display=swap');



body{
  font-family: 'KoHo', sans-serif;
  font-size: 16px;
}
.navbar{
          display: flex;
    width: 100%;
    text-align: center;
    margin: 0px;
    flex-direction: row;
    font-family: 'Mate SC', serif;
    background-color: #1b2156;
    color: white;
    border-bottom: 4px solid red;
  }
a{
    font-size: 20px;
    font-weight: 700;
    font-family: 'KoHo', sans-serif;
    text-decoration: none;
    color: #101010;
    border: 2px solid black;
    padding: 2px 20px;
    border-radius: 5px;
    background-color: #e0e0e0;
    margin: 0 10px;
}
a:hover{
  color: white;
  background-color: #101010;
}
h1{
  margin: 0 auto;
  font-size: 1.5em;
}
.link{
  margin: 20px auto;
}
.content{
  text-align: center;
  margin-top: 18px;
}
p{
  font-weight: 600;
  margin: 8px 0;
  font-size: 18px;
}
img{
  height: 300px;
  width: 100%;
  object-fit: Cover;
  border-bottom: 2px solid black;
}
.logo{
  width: 50px;
  height: auto;
  margin: -10px 5px;
}
.single_blog{
  display: inline-block;
  position: relative;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0 auto 10px 10px;
    width: 30%;
}
.single_blog:hover{
  box-shadow: 0px 1px 5px 3px #585858bf;
}
.blog-content{
  display: block;
  width: 95%;
  position: relative;
  margin: 0 auto;
}
.logo-section{
  margin: 20px auto;
  display: flex;
}
footer{
    text-align: center;
    font-family: 'Mate SC', serif;
    background-color: #1b2156;
    color: white;
}
.heart{
  color: red;
}
h3{
  margin: 0;
  padding: 20px 0 15px 0;
}
@media screen and (max-width:680px) {
  img{
    width: 100%;
  }
  .logo-section{
    display: flex;
  }
  .logo{
    width: 40px;
  }
  h1{
    font-size: 1em;
  }
  .blog-content{
    display: block;
    width: 95%;
    margin: 0 auto;
}
.single_blog{
  width: 98%;
  margin: 0 auto 10px;
}
}
@media screen and (max-width:950px) and (min-width:681px){
  .single_blog{
    width: 45%;
  } 
}
@media screen and (max-width:700px){
  .link{
    display: none;
  }
}